.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.spot-card {
  width: 250px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.spot-card img {
  width: 100%;
  border-radius: 8px;
}

.spot-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.spot-card p {
  font-size: 1rem;
}
